.button {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-family: 'Rajdhani';
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  text-shadow: 1px 1px 4px #9a9a9a;

  &:hover {
    text-shadow: 0.5px 0.5px;
  }

  &.soldier {
    color: #1098ad;
  }
  
  &.reserve {
    color: #68a614;
  }
  
  &.general {
    color: #e47112;
  }
    
  &.cart {
    color: #0ca678;
  }
  
  &.fronts {
    color: #1098ad;  
  }
  
  &.password {
    color: #845ef7;
  }
  
  &.weddings {
    color: #7048e8;
  }
}